@import 'bootstrap.min.css';
@import 'todc-bootstrap.css';
@import 'select2.css';
 
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#content {
  overflow:auto;
  padding-bottom:220px;
}

.footer {
  position: relative;
  margin-top: -221px;
  height: 220px;
  background-color: #f1f1f1;
  border-top: 1px solid #e5e5e5;
}

.signin-box h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  height: 16px;
  margin: 0 0 19px;
}

.signin-box label {
  color: #222;
  margin: 0 0 5px;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.popover {
  position: relative;
  display: inline-block;
  width: 200px;
}

.jumbotron {
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

.page-header {
  margin: 20px 0 0;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: #4d90fe;
  color: #fff;
}

.img-polaroid:hover {
  border-color: #4d90fe;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
}

.nav-tabs, .nav-pills {
  text-align: center;
}