@import 'bootstrap.min.css';
@import 'todc-bootstrap.css';
@import 'select2.css';

.signin-box h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  height: 16px;
  margin: 0 0 19px;
}

.signin-box label {
  color: #222;
  margin: 0 0 5px;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.popover {
  position: relative;
  display: inline-block;
  width: 200px;
}

.jumbotron {
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

.thumbnails > a:
