@import 'bootstrap.min.css';
@import 'todc-bootstrap.css';
@import 'select2.css';
@import url(http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Cinzel+Decorative:400,700,900);

 
html, body {
  height: 100%;

}

#wrap {
  min-height: 100%;
}

#content {
  overflow:auto;
  padding-bottom:220px;
}

.container {

}

.footer {
  position: relative;
  margin-top: -221px;
  height: 220px;
  background-color: #f1f1f1;
  border-top: 1px solid #e5e5e5;
}

.signin-box h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  height: 16px;
  margin: 0 0 19px;
}

.signin-box label {
  color: #222;
  margin: 0 0 5px;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.popover {
  position: relative;
  display: inline-block;
  width: 200px;
}

.jumbotron {
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

.page-header {
  margin: 20px 0 0;
  font-family: 'Cinzel Decorative', cursive;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: #4d90fe;
  color: #fff;
}

.img-polaroid:hover {
  border-color: #4d90fe;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.img-polaroid:active {
  position: relative;
  top: 1px;
}

.img-polaroid {
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#progress {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 1%;
  height: 2px;
  background: #4d90fe;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out,opacity 400ms linear;
  -ms-transition: width 500ms ease-out,opacity 400ms linear;
  -o-transition: width 500ms ease-out,opacity 400ms linear;
  -webkit-transition: width 500ms ease-out,opacity 400ms linear;
  transition: width 500ms ease-out,opacity 400ms linear;
}


#progress dd, #progress dt {
  position: absolute;
  top: 0;
  height: 2px;
  -moz-box-shadow: #4d90fe 1px 0 6px 1px;
  -ms-box-shadow: #4d90fe 1px 0 6px 1px;
  -webkit-box-shadow: #4d90fe 1px 0 6px 1px;
  box-shadow: #4d90fe 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#progress dt {
  opacity: .6;
  width: 180px;
  right: -80px;
  clip: rect(-6px,90px,14px,-6px);
}

#progress dd {
  opacity: .6;
  width: 20px;
  right: 0;
  clip: rect(-6px,22px,14px,10px);
}  