<div class="panel">
  <h4>Add Character</h4>

  <form class="form-inline">
    <div class="control-group">
      <label for="addcharacter">Character Name</label>
      <div class="controls">
        <input type="text" id="addcharacter" name="addcharacter" autofocus>
        <button type="submit" class="btn btn-small btn-primary">Submit</button>
        <span class="help-block"></span>

        <label class="radio">
          <input type="radio" name="genderRadios" value="female">
          Female
        </label>
        <label class="radio">
          <input type="radio" name="genderRadios" value="male">
          Male
        </label>
      </div>
    </div>
  </form>
</div>